$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import 'colors.scss';

@media only screen and (max-width: 475px) {
  body {
    background-color: $light-blue;
  }
}

h1,
h3 {
  color: $standard-gray;
  font-family: Helvetica, sans-serif;

  @media only screen and (max-width: 515px) {
    font-size: 21px;
  }
}

#announcer {
  color: $soft-tan;
}

.form-text,
h4 {
  color: $standard-gray;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  .form-text a:hover {
    color: $soft-tan;
  }
}

.outer-padding {
  align-items: center;
  align-self: center;
  background-color: $very-light-gray;
  border: 1px;
  justify-content: center;
  padding: 5%, auto;
}

.tile-padding {
  align-self: center;
  align-content: center;
  width: 325px;
  padding: 10px;
  border-radius: 10px;
  background-color: gray;
}

.authentications-padding {
  align-content: center;
  align-self: center;

  @media only screen and (min-width: 476px) {
    margin-bottom: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    padding: 5px;
  }

  @media only screen and (max-width: 475px) {
    padding: 5px;
    width: 335px;
  }

  background-color: white;
  border-radius: 5px;
}

.forms {
  margin-bottom: 1px;
}

.tiles {
  background-color: black;
  color: white;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border-color: $soft-tan;
  border-style: solid;
  margin: 1px;
  float: left;
  text-align: center;
  justify-content: center;
  overflow: hidden;
}

div.tiles:hover {
  background-color: $soft-tan;
}

.tan-line {
  width: 90%;
  height: 1px;
  border: 1px;
  border-style: solid;
  margin: 15px;
  border-color: gray;
}

.clear {
  clear: both;
}
